body
{
    background-color: rgb(161, 158, 164);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container
{
    background: linear-gradient(to bottom,#1f0d22 , #631f6f);
    margin: auto;
    width: 600px;
    border-radius: 5px;
    overflow: hidden;
    padding: 0.8rem 0.8rem;

}
.header-title
{
    color: rgb(253, 211, 21);
    font-size: 1.8rem;
    font-weight: 550;
    text-align: center;
    margin-bottom: 1.5rem;
}

.primary-text
{
    color:beige;
    text-align: center;
    font-size: 0.83rem;
    margin-bottom: 1rem;
}

footer
{
    text-align: center;
    color: beige;
    font-size: 0.6rem;
    margin-top: 0.6rem;
}

.title-votação
{
    color: beige;
    font-size: 1.3rem;
    text-align: center;
}

.sub-container
{
    background: linear-gradient(to top,#1f0d22 , #631f6f);
    width: auto;
    padding: 1rem;
    color: #ffff;
    border-radius: 10px;
}

.opt-text
{
    color: beige;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    
}

.opt-container
{
    background: linear-gradient(to bottom, #3f62ef, #6bbdfc);
    padding: 1.25rem 2.5rem;
    color: #ffff;
    border-radius: 5px;
    margin-top: 1rem;
    text-align: center;
}

